<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- Para el caso de JBOSS no se definen los listener y los servlet de los servicios web por lo tanto se comentan. Adicionalmente
         se eliminan todos los jars de nombre webservice***
         
         Para el caso de TOMCAT se debe descomentar estos valores y se deben incluir los jars de nombre webservice***
    
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AgesicFirmaServer</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AgesicFirma</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgesicFirmaServer</servlet-name>
        <url-pattern>/AgesicFirmaServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgesicFirma</servlet-name>
        <url-pattern>/AgesicFirma</url-pattern>
    </servlet-mapping>
    
    -->
    <display-name>Firma Server v4.3</display-name>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
